.footer {
    background-color: #343a40;
    color: white;
    padding: 30px 20px;
    text-align: center;
}

.footer a {
    color: #00bfff;
    text-decoration: none;
}

.footer a:hover {
    text-decoration: underline;
}